ClienteProyecto9/src/conf/xml-resources/web-service-references/UserService/wsdl/localhost_8080/Proyecto9-war/UserService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://service/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://service/">

<xs:element name="countUser" type="tns:countUser"/>

<xs:element name="countUserResponse" type="tns:countUserResponse"/>

<xs:element name="createUser" type="tns:createUser"/>

<xs:element name="editUser" type="tns:editUser"/>

<xs:element name="findAllUser" type="tns:findAllUser"/>

<xs:element name="findAllUserResponse" type="tns:findAllUserResponse"/>

<xs:element name="findByPartialEmail" type="tns:findByPartialEmail"/>

<xs:element name="findByPartialEmailResponse" type="tns:findByPartialEmailResponse"/>

<xs:element name="findByPartialUsername" type="tns:findByPartialUsername"/>

<xs:element name="findByPartialUsernameResponse" type="tns:findByPartialUsernameResponse"/>

<xs:element name="findByRol" type="tns:findByRol"/>

<xs:element name="findByRolResponse" type="tns:findByRolResponse"/>

<xs:element name="findByUsername" type="tns:findByUsername"/>

<xs:element name="findByUsernameResponse" type="tns:findByUsernameResponse"/>

<xs:element name="findListaTesorosCreados" type="tns:findListaTesorosCreados"/>

<xs:element name="findListaTesorosCreadosResponse" type="tns:findListaTesorosCreadosResponse"/>

<xs:element name="findRangeUser" type="tns:findRangeUser"/>

<xs:element name="findRangeUserResponse" type="tns:findRangeUserResponse"/>

<xs:element name="findUser" type="tns:findUser"/>

<xs:element name="findUserResponse" type="tns:findUserResponse"/>

<xs:element name="removeUser" type="tns:removeUser"/>

<xs:element name="tesoro" type="tns:tesoro"/>

<xs:element name="user" type="tns:user"/>

<xs:complexType name="findByRol">
<xs:sequence>
<xs:element name="rol" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findByRolResponse">
<xs:sequence>
<xs:element name="return" type="tns:user" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="user">
<xs:sequence>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="idUser" type="xs:int" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="rol" type="xs:string" minOccurs="0"/>
<xs:element name="username" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findListaTesorosCreados">
<xs:sequence>
<xs:element name="idUser" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findListaTesorosCreadosResponse">
<xs:sequence>
<xs:element name="return" type="tns:tesoro" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="tesoro">
<xs:sequence>
<xs:element name="ciudad" type="xs:string" minOccurs="0"/>
<xs:element name="codigoSecreto" type="xs:string" minOccurs="0"/>
<xs:element name="habilitado" type="xs:boolean"/>
<xs:element name="idTesoro" type="xs:int" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="pais" type="xs:string" minOccurs="0"/>
<xs:element name="posicion" type="xs:string" minOccurs="0"/>
<xs:element name="useridUser" type="tns:user" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findByUsername">
<xs:sequence>
<xs:element name="username" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findByUsernameResponse">
<xs:sequence>
<xs:element name="return" type="tns:user" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findUser">
<xs:sequence>
<xs:element name="id" type="xs:anyType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findUserResponse">
<xs:sequence>
<xs:element name="return" type="tns:user" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="removeUser">
<xs:sequence>
<xs:element name="entity" type="tns:user" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findByPartialUsername">
<xs:sequence>
<xs:element name="username" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findByPartialUsernameResponse">
<xs:sequence>
<xs:element name="return" type="tns:user" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="countUser">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="countUserResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findRangeUser">
<xs:sequence>
<xs:element name="range" type="xs:int" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findRangeUserResponse">
<xs:sequence>
<xs:element name="return" type="tns:user" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createUser">
<xs:sequence>
<xs:element name="entity" type="tns:user" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findAllUser">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="findAllUserResponse">
<xs:sequence>
<xs:element name="return" type="tns:user" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="editUser">
<xs:sequence>
<xs:element name="entity" type="tns:user" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findByPartialEmail">
<xs:sequence>
<xs:element name="email" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findByPartialEmailResponse">
<xs:sequence>
<xs:element name="return" type="tns:user" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>