ClienteProyecto9/src/conf/xml-resources/web-service-references/UserService/wsdl/localhost_8080/Proyecto9-war/UserService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service/" name="UserService">
<types>
<xsd:schema>
<xsd:import namespace="http://service/" schemaLocation="http://localhost:8080/Proyecto9-war/UserService?xsd=1"/>
</xsd:schema>
</types>
<message name="countUser">
<part name="parameters" element="tns:countUser"/>
</message>
<message name="countUserResponse">
<part name="parameters" element="tns:countUserResponse"/>
</message>
<message name="editUser">
<part name="parameters" element="tns:editUser"/>
</message>
<message name="findRangeUser">
<part name="parameters" element="tns:findRangeUser"/>
</message>
<message name="findRangeUserResponse">
<part name="parameters" element="tns:findRangeUserResponse"/>
</message>
<message name="findAllUser">
<part name="parameters" element="tns:findAllUser"/>
</message>
<message name="findAllUserResponse">
<part name="parameters" element="tns:findAllUserResponse"/>
</message>
<message name="findUser">
<part name="parameters" element="tns:findUser"/>
</message>
<message name="findUserResponse">
<part name="parameters" element="tns:findUserResponse"/>
</message>
<message name="createUser">
<part name="parameters" element="tns:createUser"/>
</message>
<message name="removeUser">
<part name="parameters" element="tns:removeUser"/>
</message>
<portType name="UserService">
<operation name="countUser">
<input wsam:Action="http://service/UserService/countUserRequest" message="tns:countUser"/>
<output wsam:Action="http://service/UserService/countUserResponse" message="tns:countUserResponse"/>
</operation>
<operation name="editUser">
<input wsam:Action="http://service/UserService/editUser" message="tns:editUser"/>
</operation>
<operation name="findRangeUser">
<input wsam:Action="http://service/UserService/findRangeUserRequest" message="tns:findRangeUser"/>
<output wsam:Action="http://service/UserService/findRangeUserResponse" message="tns:findRangeUserResponse"/>
</operation>
<operation name="findAllUser">
<input wsam:Action="http://service/UserService/findAllUserRequest" message="tns:findAllUser"/>
<output wsam:Action="http://service/UserService/findAllUserResponse" message="tns:findAllUserResponse"/>
</operation>
<operation name="findUser">
<input wsam:Action="http://service/UserService/findUserRequest" message="tns:findUser"/>
<output wsam:Action="http://service/UserService/findUserResponse" message="tns:findUserResponse"/>
</operation>
<operation name="createUser">
<input wsam:Action="http://service/UserService/createUser" message="tns:createUser"/>
</operation>
<operation name="removeUser">
<input wsam:Action="http://service/UserService/removeUser" message="tns:removeUser"/>
</operation>
</portType>
<binding name="UserServicePortBinding" type="tns:UserService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="countUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="editUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="findRangeUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findAllUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="removeUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
</binding>
<service name="UserService">
<port name="UserServicePort" binding="tns:UserServicePortBinding">
<soap:address location="http://localhost:8080/Proyecto9-war/UserService"/>
</port>
</service>
</definitions>