ClienteProyecto9/src/conf/xml-resources/web-service-references/TesoroService/wsdl/localhost_8080/Proyecto9-war/TesoroService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service/" name="TesoroService">
<types>
<xsd:schema>
<xsd:import namespace="http://service/" schemaLocation="http://localhost:8080/Proyecto9-war/TesoroService?xsd=1"/>
</xsd:schema>
</types>
<message name="edit">
<part name="parameters" element="tns:edit"/>
</message>
<message name="findRange">
<part name="parameters" element="tns:findRange"/>
</message>
<message name="findRangeResponse">
<part name="parameters" element="tns:findRangeResponse"/>
</message>
<message name="findByUsuarioBuscando">
<part name="parameters" element="tns:findByUsuarioBuscando"/>
</message>
<message name="findByUsuarioBuscandoResponse">
<part name="parameters" element="tns:findByUsuarioBuscandoResponse"/>
</message>
<message name="findAll">
<part name="parameters" element="tns:findAll"/>
</message>
<message name="findAllResponse">
<part name="parameters" element="tns:findAllResponse"/>
</message>
<message name="remove">
<part name="parameters" element="tns:remove"/>
</message>
<message name="count">
<part name="parameters" element="tns:count"/>
</message>
<message name="countResponse">
<part name="parameters" element="tns:countResponse"/>
</message>
<message name="find">
<part name="parameters" element="tns:find"/>
</message>
<message name="findResponse">
<part name="parameters" element="tns:findResponse"/>
</message>
<message name="create">
<part name="parameters" element="tns:create"/>
</message>
<portType name="TesoroService">
<operation name="edit">
<input wsam:Action="http://service/TesoroService/edit" message="tns:edit"/>
</operation>
<operation name="findRange">
<input wsam:Action="http://service/TesoroService/findRangeRequest" message="tns:findRange"/>
<output wsam:Action="http://service/TesoroService/findRangeResponse" message="tns:findRangeResponse"/>
</operation>
<operation name="findByUsuarioBuscando">
<input wsam:Action="http://service/TesoroService/findByUsuarioBuscandoRequest" message="tns:findByUsuarioBuscando"/>
<output wsam:Action="http://service/TesoroService/findByUsuarioBuscandoResponse" message="tns:findByUsuarioBuscandoResponse"/>
</operation>
<operation name="findAll">
<input wsam:Action="http://service/TesoroService/findAllRequest" message="tns:findAll"/>
<output wsam:Action="http://service/TesoroService/findAllResponse" message="tns:findAllResponse"/>
</operation>
<operation name="remove">
<input wsam:Action="http://service/TesoroService/remove" message="tns:remove"/>
</operation>
<operation name="count">
<input wsam:Action="http://service/TesoroService/countRequest" message="tns:count"/>
<output wsam:Action="http://service/TesoroService/countResponse" message="tns:countResponse"/>
</operation>
<operation name="find">
<input wsam:Action="http://service/TesoroService/findRequest" message="tns:find"/>
<output wsam:Action="http://service/TesoroService/findResponse" message="tns:findResponse"/>
</operation>
<operation name="create">
<input wsam:Action="http://service/TesoroService/create" message="tns:create"/>
</operation>
</portType>
<binding name="TesoroServicePortBinding" type="tns:TesoroService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="edit">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="findRange">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findByUsuarioBuscando">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findAll">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="remove">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="count">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="find">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="create">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
</binding>
<service name="TesoroService">
<port name="TesoroServicePort" binding="tns:TesoroServicePortBinding">
<soap:address location="http://localhost:8080/Proyecto9-war/TesoroService"/>
</port>
</service>
</definitions>