ClienteProyecto9/src/conf/xml-resources/web-service-references/TesoroService/wsdl/localhost_8080/Proyecto9-war/TesoroService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service/" name="TesoroService">
<types>
<xsd:schema>
<xsd:import namespace="http://service/" schemaLocation="http://localhost:8080/Proyecto9-war/TesoroService?xsd=1"/>
</xsd:schema>
</types>
<message name="editTesoro">
<part name="parameters" element="tns:editTesoro"/>
</message>
<message name="removeTesoro">
<part name="parameters" element="tns:removeTesoro"/>
</message>
<message name="findTesoro">
<part name="parameters" element="tns:findTesoro"/>
</message>
<message name="findTesoroResponse">
<part name="parameters" element="tns:findTesoroResponse"/>
</message>
<message name="findAllTesoro">
<part name="parameters" element="tns:findAllTesoro"/>
</message>
<message name="findAllTesoroResponse">
<part name="parameters" element="tns:findAllTesoroResponse"/>
</message>
<message name="findRangeTesoro">
<part name="parameters" element="tns:findRangeTesoro"/>
</message>
<message name="findRangeTesoroResponse">
<part name="parameters" element="tns:findRangeTesoroResponse"/>
</message>
<message name="countTesoro">
<part name="parameters" element="tns:countTesoro"/>
</message>
<message name="countTesoroResponse">
<part name="parameters" element="tns:countTesoroResponse"/>
</message>
<message name="createTesoro">
<part name="parameters" element="tns:createTesoro"/>
</message>
<portType name="TesoroService">
<operation name="editTesoro">
<input wsam:Action="http://service/TesoroService/editTesoro" message="tns:editTesoro"/>
</operation>
<operation name="removeTesoro">
<input wsam:Action="http://service/TesoroService/removeTesoro" message="tns:removeTesoro"/>
</operation>
<operation name="findTesoro">
<input wsam:Action="http://service/TesoroService/findTesoroRequest" message="tns:findTesoro"/>
<output wsam:Action="http://service/TesoroService/findTesoroResponse" message="tns:findTesoroResponse"/>
</operation>
<operation name="findAllTesoro">
<input wsam:Action="http://service/TesoroService/findAllTesoroRequest" message="tns:findAllTesoro"/>
<output wsam:Action="http://service/TesoroService/findAllTesoroResponse" message="tns:findAllTesoroResponse"/>
</operation>
<operation name="findRangeTesoro">
<input wsam:Action="http://service/TesoroService/findRangeTesoroRequest" message="tns:findRangeTesoro"/>
<output wsam:Action="http://service/TesoroService/findRangeTesoroResponse" message="tns:findRangeTesoroResponse"/>
</operation>
<operation name="countTesoro">
<input wsam:Action="http://service/TesoroService/countTesoroRequest" message="tns:countTesoro"/>
<output wsam:Action="http://service/TesoroService/countTesoroResponse" message="tns:countTesoroResponse"/>
</operation>
<operation name="createTesoro">
<input wsam:Action="http://service/TesoroService/createTesoro" message="tns:createTesoro"/>
</operation>
</portType>
<binding name="TesoroServicePortBinding" type="tns:TesoroService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="editTesoro">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="removeTesoro">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="findTesoro">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findAllTesoro">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findRangeTesoro">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="countTesoro">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createTesoro">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
</binding>
<service name="TesoroService">
<port name="TesoroServicePort" binding="tns:TesoroServicePortBinding">
<soap:address location="http://localhost:8080/Proyecto9-war/TesoroService"/>
</port>
</service>
</definitions>