ClienteProyecto9/src/conf/xml-resources/web-service-references/LogService/wsdl/localhost_8080/Proyecto9-war/LogService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service/" name="LogService">
<types>
<xsd:schema>
<xsd:import namespace="http://service/" schemaLocation="http://localhost:8080/Proyecto9-war/LogService?xsd=1"/>
</xsd:schema>
</types>
<message name="createLog">
<part name="parameters" element="tns:createLog"/>
</message>
<message name="editLog">
<part name="parameters" element="tns:editLog"/>
</message>
<message name="findLog">
<part name="parameters" element="tns:findLog"/>
</message>
<message name="findLogResponse">
<part name="parameters" element="tns:findLogResponse"/>
</message>
<message name="removeLog">
<part name="parameters" element="tns:removeLog"/>
</message>
<message name="findAllLog">
<part name="parameters" element="tns:findAllLog"/>
</message>
<message name="findAllLogResponse">
<part name="parameters" element="tns:findAllLogResponse"/>
</message>
<message name="findRangeLog">
<part name="parameters" element="tns:findRangeLog"/>
</message>
<message name="findRangeLogResponse">
<part name="parameters" element="tns:findRangeLogResponse"/>
</message>
<message name="countLog">
<part name="parameters" element="tns:countLog"/>
</message>
<message name="countLogResponse">
<part name="parameters" element="tns:countLogResponse"/>
</message>
<message name="findByTesoroId">
<part name="parameters" element="tns:findByTesoroId"/>
</message>
<message name="findByTesoroIdResponse">
<part name="parameters" element="tns:findByTesoroIdResponse"/>
</message>
<portType name="LogService">
<operation name="createLog">
<input wsam:Action="http://service/LogService/createLog" message="tns:createLog"/>
</operation>
<operation name="editLog">
<input wsam:Action="http://service/LogService/editLog" message="tns:editLog"/>
</operation>
<operation name="findLog">
<input wsam:Action="http://service/LogService/findLogRequest" message="tns:findLog"/>
<output wsam:Action="http://service/LogService/findLogResponse" message="tns:findLogResponse"/>
</operation>
<operation name="removeLog">
<input wsam:Action="http://service/LogService/removeLog" message="tns:removeLog"/>
</operation>
<operation name="findAllLog">
<input wsam:Action="http://service/LogService/findAllLogRequest" message="tns:findAllLog"/>
<output wsam:Action="http://service/LogService/findAllLogResponse" message="tns:findAllLogResponse"/>
</operation>
<operation name="findRangeLog">
<input wsam:Action="http://service/LogService/findRangeLogRequest" message="tns:findRangeLog"/>
<output wsam:Action="http://service/LogService/findRangeLogResponse" message="tns:findRangeLogResponse"/>
</operation>
<operation name="countLog">
<input wsam:Action="http://service/LogService/countLogRequest" message="tns:countLog"/>
<output wsam:Action="http://service/LogService/countLogResponse" message="tns:countLogResponse"/>
</operation>
<operation name="findByTesoroId">
<input wsam:Action="http://service/LogService/findByTesoroIdRequest" message="tns:findByTesoroId"/>
<output wsam:Action="http://service/LogService/findByTesoroIdResponse" message="tns:findByTesoroIdResponse"/>
</operation>
</portType>
<binding name="LogServicePortBinding" type="tns:LogService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="createLog">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="editLog">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="findLog">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="removeLog">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="findAllLog">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findRangeLog">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="countLog">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findByTesoroId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="LogService">
<port name="LogServicePort" binding="tns:LogServicePortBinding">
<soap:address location="http://localhost:8080/Proyecto9-war/LogService"/>
</port>
</service>
</definitions>