ClienteProyecto9/web/WEB-INF/wsdl/localhost_8080/Proyecto9-war/TesoroService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service/" name="TesoroService">
<types>
<xsd:schema>
<xsd:import namespace="http://service/" schemaLocation="http://localhost:8080/Proyecto9-war/TesoroService?xsd=1"/>
</xsd:schema>
</types>
<message name="findAllTesoro">
<part name="parameters" element="tns:findAllTesoro"/>
</message>
<message name="findAllTesoroResponse">
<part name="parameters" element="tns:findAllTesoroResponse"/>
</message>
<message name="findTesoro">
<part name="parameters" element="tns:findTesoro"/>
</message>
<message name="findTesoroResponse">
<part name="parameters" element="tns:findTesoroResponse"/>
</message>
<message name="createTesoro">
<part name="parameters" element="tns:createTesoro"/>
</message>
<message name="editTesoro">
<part name="parameters" element="tns:editTesoro"/>
</message>
<message name="findByNombreTesoro">
<part name="parameters" element="tns:findByNombreTesoro"/>
</message>
<message name="findByNombreTesoroResponse">
<part name="parameters" element="tns:findByNombreTesoroResponse"/>
</message>
<message name="findByCiudadTesoro">
<part name="parameters" element="tns:findByCiudadTesoro"/>
</message>
<message name="findByCiudadTesoroResponse">
<part name="parameters" element="tns:findByCiudadTesoroResponse"/>
</message>
<message name="findByPaisTesoro">
<part name="parameters" element="tns:findByPaisTesoro"/>
</message>
<message name="findByPaisTesoroResponse">
<part name="parameters" element="tns:findByPaisTesoroResponse"/>
</message>
<message name="findByPosicionTesoro">
<part name="parameters" element="tns:findByPosicionTesoro"/>
</message>
<message name="findByPosicionTesoroResponse">
<part name="parameters" element="tns:findByPosicionTesoroResponse"/>
</message>
<message name="findAllLogs">
<part name="parameters" element="tns:findAllLogs"/>
</message>
<message name="findAllLogsResponse">
<part name="parameters" element="tns:findAllLogsResponse"/>
</message>
<message name="findByUsuarioBuscando">
<part name="parameters" element="tns:findByUsuarioBuscando"/>
</message>
<message name="findByUsuarioBuscandoResponse">
<part name="parameters" element="tns:findByUsuarioBuscandoResponse"/>
</message>
<message name="findRangeTesoro">
<part name="parameters" element="tns:findRangeTesoro"/>
</message>
<message name="findRangeTesoroResponse">
<part name="parameters" element="tns:findRangeTesoroResponse"/>
</message>
<message name="seguirTesoro">
<part name="parameters" element="tns:seguirTesoro"/>
</message>
<message name="removeTesoro">
<part name="parameters" element="tns:removeTesoro"/>
</message>
<message name="countTesoro">
<part name="parameters" element="tns:countTesoro"/>
</message>
<message name="countTesoroResponse">
<part name="parameters" element="tns:countTesoroResponse"/>
</message>
<message name="dejarseguirTesoro">
<part name="parameters" element="tns:dejarseguirTesoro"/>
</message>
<portType name="TesoroService">
<operation name="findAllTesoro">
<input wsam:Action="http://service/TesoroService/findAllTesoroRequest" message="tns:findAllTesoro"/>
<output wsam:Action="http://service/TesoroService/findAllTesoroResponse" message="tns:findAllTesoroResponse"/>
</operation>
<operation name="findTesoro">
<input wsam:Action="http://service/TesoroService/findTesoroRequest" message="tns:findTesoro"/>
<output wsam:Action="http://service/TesoroService/findTesoroResponse" message="tns:findTesoroResponse"/>
</operation>
<operation name="createTesoro">
<input wsam:Action="http://service/TesoroService/createTesoro" message="tns:createTesoro"/>
</operation>
<operation name="editTesoro">
<input wsam:Action="http://service/TesoroService/editTesoro" message="tns:editTesoro"/>
</operation>
<operation name="findByNombreTesoro">
<input wsam:Action="http://service/TesoroService/findByNombreTesoroRequest" message="tns:findByNombreTesoro"/>
<output wsam:Action="http://service/TesoroService/findByNombreTesoroResponse" message="tns:findByNombreTesoroResponse"/>
</operation>
<operation name="findByCiudadTesoro">
<input wsam:Action="http://service/TesoroService/findByCiudadTesoroRequest" message="tns:findByCiudadTesoro"/>
<output wsam:Action="http://service/TesoroService/findByCiudadTesoroResponse" message="tns:findByCiudadTesoroResponse"/>
</operation>
<operation name="findByPaisTesoro">
<input wsam:Action="http://service/TesoroService/findByPaisTesoroRequest" message="tns:findByPaisTesoro"/>
<output wsam:Action="http://service/TesoroService/findByPaisTesoroResponse" message="tns:findByPaisTesoroResponse"/>
</operation>
<operation name="findByPosicionTesoro">
<input wsam:Action="http://service/TesoroService/findByPosicionTesoroRequest" message="tns:findByPosicionTesoro"/>
<output wsam:Action="http://service/TesoroService/findByPosicionTesoroResponse" message="tns:findByPosicionTesoroResponse"/>
</operation>
<operation name="findAllLogs">
<input wsam:Action="http://service/TesoroService/findAllLogsRequest" message="tns:findAllLogs"/>
<output wsam:Action="http://service/TesoroService/findAllLogsResponse" message="tns:findAllLogsResponse"/>
</operation>
<operation name="findByUsuarioBuscando">
<input wsam:Action="http://service/TesoroService/findByUsuarioBuscandoRequest" message="tns:findByUsuarioBuscando"/>
<output wsam:Action="http://service/TesoroService/findByUsuarioBuscandoResponse" message="tns:findByUsuarioBuscandoResponse"/>
</operation>
<operation name="findRangeTesoro">
<input wsam:Action="http://service/TesoroService/findRangeTesoroRequest" message="tns:findRangeTesoro"/>
<output wsam:Action="http://service/TesoroService/findRangeTesoroResponse" message="tns:findRangeTesoroResponse"/>
</operation>
<operation name="seguirTesoro">
<input wsam:Action="http://service/TesoroService/seguirTesoro" message="tns:seguirTesoro"/>
</operation>
<operation name="removeTesoro">
<input wsam:Action="http://service/TesoroService/removeTesoro" message="tns:removeTesoro"/>
</operation>
<operation name="countTesoro">
<input wsam:Action="http://service/TesoroService/countTesoroRequest" message="tns:countTesoro"/>
<output wsam:Action="http://service/TesoroService/countTesoroResponse" message="tns:countTesoroResponse"/>
</operation>
<operation name="dejarseguirTesoro">
<input wsam:Action="http://service/TesoroService/dejarseguirTesoro" message="tns:dejarseguirTesoro"/>
</operation>
</portType>
<binding name="TesoroServicePortBinding" type="tns:TesoroService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="findAllTesoro">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findTesoro">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createTesoro">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="editTesoro">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="findByNombreTesoro">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findByCiudadTesoro">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findByPaisTesoro">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findByPosicionTesoro">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findAllLogs">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findByUsuarioBuscando">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findRangeTesoro">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="seguirTesoro">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="removeTesoro">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="countTesoro">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dejarseguirTesoro">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
</binding>
<service name="TesoroService">
<port name="TesoroServicePort" binding="tns:TesoroServicePortBinding">
<soap:address location="http://localhost:8080/Proyecto9-war/TesoroService"/>
</port>
</service>
</definitions>