ClienteProyecto9/web/WEB-INF/wsdl/localhost_8080/Proyecto9-war/UserService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://service/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://service/">

<xs:element name="countUser" type="tns:countUser"/>

<xs:element name="countUserResponse" type="tns:countUserResponse"/>

<xs:element name="createUser" type="tns:createUser"/>

<xs:element name="editUser" type="tns:editUser"/>

<xs:element name="findAllUser" type="tns:findAllUser"/>

<xs:element name="findAllUserResponse" type="tns:findAllUserResponse"/>

<xs:element name="findRangeUser" type="tns:findRangeUser"/>

<xs:element name="findRangeUserResponse" type="tns:findRangeUserResponse"/>

<xs:element name="findUser" type="tns:findUser"/>

<xs:element name="findUserResponse" type="tns:findUserResponse"/>

<xs:element name="removeUser" type="tns:removeUser"/>

<xs:element name="user" type="tns:user"/>

<xs:complexType name="removeUser">
<xs:sequence>
<xs:element name="entity" type="tns:user" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="user">
<xs:sequence>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="idUser" type="xs:int" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="rol" type="xs:string" minOccurs="0"/>
<xs:element name="username" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findUser">
<xs:sequence>
<xs:element name="id" type="xs:anyType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findUserResponse">
<xs:sequence>
<xs:element name="return" type="tns:user" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findRangeUser">
<xs:sequence>
<xs:element name="range" type="xs:int" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findRangeUserResponse">
<xs:sequence>
<xs:element name="return" type="tns:user" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="countUser">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="countUserResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createUser">
<xs:sequence>
<xs:element name="entity" type="tns:user" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findAllUser">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="findAllUserResponse">
<xs:sequence>
<xs:element name="return" type="tns:user" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="editUser">
<xs:sequence>
<xs:element name="entity" type="tns:user" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>